
/* Defined Variables */
:root{
    --ff-primary: "JetBrains Mono", monospace;
    --ff-secondary: "Google Sans", sans-serif;

    --background-color: #051120;
    --text-color: #fff;
    --border-color: #fff;

    --secondary-text-color: turquoise;
}

/* For whole website */
*{
    font-family: var(--ff-primary);
    background-color: var(--background-color);
}
.title{
    color: var(--text-color);
}
.subtitle{
    color: var(--text-color);
}

/* Navigation Bar */
nav {
    display: flex;
    border-bottom: 1px solid var(--text-color);
}
nav a{
    color: var(--text-color);
    padding: 10px 20px;
    text-decoration: none;
    border-left: 1px solid var(--text-color);
}
nav > a:nth-child(1)
{
    border: none;
    margin-right: auto;
    color: var(--text-color);
}
nav a:hover{
    color: var(--background-color);
    background-color: var(--text-color);
}

/* Content Block */
/* .content{
    display: grid;
    padding: auto;
    color: var(--text-color);
} */

/* Footer */
.footerblock{
    display: flex;
    justify-content: center;
    border-top: 1px solid var(--border-color);
    padding: 10px 20px;
}
.footername{
    text-decoration: none;
    color: var(--text-color);
}
.footername:hover{
    color: var(--secondary-text-color);
}